body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #009990;
    font-family: Arial, sans-serif;
}

#title{
    position: fixed;
    top: 0;
    padding-bottom: 10px;
}

#score{
    position: fixed;
    top: 65px;
}

canvas {
    position: fixed;
    top: 120px;
    border: 4px solid #000; 
    background-color: #E1FFBB;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 570px;
}

#controls {
    display: none;
    margin-top: 20px;
}

#chooseSpeed {
    position: fixed;
    top: 90px;
}

.control-button {
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#controls #up {
    margin-bottom: 5px;
}

#controls #down {
    margin-top: 5px;
}

#controls #left, #controls #right {
    display: inline-block;
}
